@import "../../assets/css/variables";
@import "../../assets/css/animations";

.container {
  position: relative;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

@media only screen and (min-width: $grid-large-min) {
  .image{
    max-height: calc(100vh - #{$header-height} - #{$picture-margin * 2}); // header + component margin
  }
}

.asset_wrapper {
  position: absolute;
  transition: all 1.5s ease-in-out;
}

.asset {
  width: 100%;
}


#asset1_wrapper {
  &.zone1 {
    width: 10%;
    top: 62%;
    left: 7%;
  }

  &.zone3 {
    width: 25%;
    top: 64%;
    left: -1%;
  }

  &.zone2 {
    width: 8%;
    top: 64%;
    left: 58%;
  }

  &.zone4 {
    width: 14%;
    top: 63%;
    left: 73%;
  }
}

.alarm {
  animation-name: shake;
  animation-duration: 1s;
}

#warning {
    position: absolute;
    width: 43%;
    top: -36%;
    left: 29%;
}








