<div class="container">
  <img class="image" src="../../assets/images/stock-building.jpg">
  <div id="overlay1" class="overlay">
    <div class="title-wrapper"><p>1
      <p></div>
  </div>
  <div id="overlay2" class="overlay">
    <div class="title-wrapper"><p>2
      <p></div>
  </div>
  <div id="overlay3" class="overlay">
    <div class="title-wrapper"><p>3
      <p></div>
  </div>
  <div id="overlay4" class="overlay">
    <div class="title-wrapper"><p>4
      <p></div>
  </div>
  <div id="asset2_wrapper" class="asset_wrapper"
       [ngClass]="{
      'zone1' : assets[1].activeZone === ZONE_IDENTIFIER.ZONE1,
      'zone2' : assets[1].activeZone === ZONE_IDENTIFIER.ZONE2,
      'zone3' : assets[1].activeZone === ZONE_IDENTIFIER.ZONE3,
      'zone4' : assets[1].activeZone === ZONE_IDENTIFIER.ZONE4
         }">
    <div>
      <img class="asset"
           [ngClass]="{
      'alarm' : assets[1].alarm
      }" src="../../assets/images/gitterbox.png">

      <img id="warning2" class="pulse" *ngIf="assets[1].displayWarning"
           src="../../assets/images/emergency-triangle_graphical.svg">
    </div>
  </div>
  <div id="asset1_wrapper" class="asset_wrapper"
       [ngClass]="{
       'zone1' : assets[0].activeZone === ZONE_IDENTIFIER.ZONE1,
       'zone2' : assets[0].activeZone === ZONE_IDENTIFIER.ZONE2,
       'zone3' : assets[0].activeZone === ZONE_IDENTIFIER.ZONE3,
       'zone4' : assets[0].activeZone === ZONE_IDENTIFIER.ZONE4
         }">
    <div>
      <img class="asset"
           [ngClass]="{
                'alarm' : assets[0].alarm
       }" src="../../assets/images/hubwagen.png">
      <img id="warning1" class="pulse" *ngIf="assets[0].displayWarning"
           src="../../assets/images/emergency-triangle_graphical.svg">
    </div>
  </div>

  <!--<img id="asset3" class="asset" [ngClass]="{'animate-out' : leavingAssetZone === ZONE_IDS.ZONE3}" src="../../assets/images/gitterbox.png">-->


  <!--<img id="asset1" class="asset" src="../../assets/images/hubwagen.png">-->
  <!--<img id="asset2" class="asset" src="../../assets/images/hubwagen.png">-->
  <!--<img id="asset3" class="asset" src="../../assets/images/gitterbox.png">-->
  <!--<img id="asset4" class="asset" src="../../assets/images/gitterbox.png">-->

</div>
