@import "../../assets/css/variables";
@import "../../assets/css/animations";

.container {
  position: relative;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

@media only screen and (min-width: $grid-large-min) {
  .image{
    max-height: calc(100vh - #{$header-height} - #{$picture-margin * 2}); // header + component margin
  }
}

.overlay {
  background-color: rgba(226, 0, 116, 0.3);

  .title-wrapper {
    //padding: $spacer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 35px;
    font-weight: bolder;
  }
}

.overlay:hover {
  background-color: rgba(226, 0, 116, 0.8);
}

.asset {
  width: 100%;
}

.asset_wrapper {
  position: absolute;
  transition: all 1.5s ease-in-out;
}



#overlay3 {
  width: 17%;
  height: 14%;
  position: absolute;
  left: 8%;
  top: 84%;
  transform: skew(-55deg);
}

#overlay1 {
  width: 5%;
  height: 3.8%;
  position: absolute;
  left: 36%;
  top: 59.4%;
  transform: skew(-55deg);
}

#overlay2 {
  width: 5%;
  height: 4%;
  position: absolute;
  left: 67%;
  top: 60%;
  transform: skew(-55deg);
}

#overlay4 {
  width: 26%;
  height: 14%;
  position: absolute;
  left: 74%;
  top: 85%;
  transform: skew(-55deg);
}

#asset1_wrapper {
  &.zone3 {
    width: 25%;
    top: 64%;
    left: -1%;
  }

  &.zone1 {
    width: 3%;
    top: 58%;
    left: 36%;
  }

  &.zone4 {
    width: 24%;
    top: 66%;
    left: 72%;
  }
}

#asset2_wrapper {
  &.zone3 {
    width: 25%;
    top: 59%;
    left: 5%;
  }

  &.zone1 {
    width: 3%;
    top: 57%;
    left: 37%;
  }

  &.zone4 {
    width: 24%;
    top: 59%;
    left: 78%;
  }
}



.zone2 {
  width: 4%;
  top: 57%;
  left: 68%;
}

.alarm {
  animation-name: shake;
  animation-duration: 1s;
}

#warning1 {
  position: absolute;
  width: 43%;
  top: 16%;
  left: 43%;
}

#warning2 {
  position: absolute;
  width: 43%;
  top: -33%;
  left: 29%;
}




