@import "../../assets/css/variables";
@import "../../assets/css/animations";

.container {
  position: relative;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

@media only screen and (min-width: $grid-large-min) {
  .image{
    max-height: calc(100vh - #{$header-height} - #{$picture-margin * 2}); // header + component margin
  }
}

.overlay {
  background-color: rgba(226, 0, 116, 0.3);

  .title-wrapper {
    //padding: $spacer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    font-size: 35px;
    font-weight: bolder;
  }
}

.overlay:hover {
  background-color: rgba(226, 0, 116, 0.8);
}

.asset {
  animation-name: bounceInDown;
  animation-duration: 2s;

  &.animate-out {
    animation-name: bounceOutUp;
    animation-duration: 0.7s;
  }
}



#overlay1 {
  width: 14%;
  height: 14%;
  position: absolute;
  left: 27%;
  top: 29%;
  transform: skew(-55deg);
}

#overlay2 {
  width: 14%;
  height: 14%;
  position: absolute;
  left: 55%;
  top: 29%;
  transform: skew(-55deg);
}

#overlay3 {
  width: 14%;
  height: 14%;
  position: absolute;
  left: 75%;
  top: 29%;
  transform: skew(-55deg);
}

#asset1 {
  position: absolute;
  width: 9%;
  top: 27%;
  left: 31%;
}

#asset2 {
  position: absolute;
  width: 9%;
  top: 27%;
  left: 59%;
}

#asset3 {
  position: absolute;
  width: 9%;
  top: 27%;
  left: 79%;
}
