<div class="container">
  <img class="image" src="../../assets/images/fabric.jpg">
  <div id="overlay1" class="overlay">
    <div class="title-wrapper"><p>1
      <p></div>
  </div>
  <div id="overlay2" class="overlay">
    <div class="title-wrapper"><p>2
      <p></div>
  </div>
  <div id="overlay3" class="overlay">
    <div class="title-wrapper"><p>3
      <p></div>
  </div>
  <img id="asset1" class="asset" *ngIf="assetZone === ZONE_IDENTIFIER.ZONE1" [ngClass]="{'animate-out' : leavingAssetZone === ZONE_IDENTIFIER.ZONE1}" src="../../assets/images/fabric_asset.png">
  <img id="asset2" class="asset" *ngIf="assetZone === ZONE_IDENTIFIER.ZONE2" [ngClass]="{'animate-out' : leavingAssetZone === ZONE_IDENTIFIER.ZONE2}" src="../../assets/images/fabric_asset.png">
  <img id="asset3" class="asset" *ngIf="assetZone === ZONE_IDENTIFIER.ZONE3" [ngClass]="{'animate-out' : leavingAssetZone === ZONE_IDENTIFIER.ZONE3}" src="../../assets/images/fabric_asset.png">
</div>
