@mixin font($weight, $size) {
    font:$weight $size 'Tele','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@mixin tbl-img-shadow($opacity) {
    -webkit-box-shadow: inset 0 0 0 40px rgba(0,0,0, $opacity);
    -moz-box-shadow: inset 0 0 0 40px rgba(0,0,0, $opacity);
    box-shadow: inset 0 0 0 40px rgba(0,0,0, $opacity);
}
