/* Fonts
-------------------------------------------------------------- */
@font-face {
    font-family: 'Tele';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/telegrotesk-halbfett.eot?#iefix');
    src: url('fonts/telegrotesk-halbfett.eot?#iefix') format('eot'),
         url('fonts/telegrotesk-halbfett.woff') format('woff'),
         url('fonts/telegrotesk-halbfett.ttf') format('truetype'),
         url('fonts/telegrotesk-halbfett.svg#telegrotesk-halbfett') format('svg');
}
@font-face {
    font-family: 'Tele';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/telegrotesk-fett.eot?#iefix');
    src: url('fonts/telegrotesk-fett.eot?#iefix') format('eot'),
         url('fonts/telegrotesk-fett.woff') format('woff'),
         url('fonts/telegrotesk-fett.ttf') format('truetype'),
         url('fonts/telegrotesk-fett.svg#telegrotesk-fett') format('svg');
}
@font-face {
    font-family: 'Tele';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/telegrotesk-ultra.eot?#iefix');
    src: url('fonts/telegrotesk-ultra.eot?#iefix') format('eot'),
         url('fonts/telegrotesk-ultra.woff') format('woff'),
         url('fonts/telegrotesk-ultra.ttf') format('truetype'),
         url('fonts/telegrotesk-ultra.svg#telegrotesk-ultra') format('svg');
}
@font-face {
  font-family: 'TeleIcon';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/teleicon-outline.eot');
  src: url('fonts/teleicon-outline.eot?#iefix') format('embedded-opentype'), 
       url('fonts/teleicon-outline.woff') format('woff'), 
       url('fonts/teleicon-outline.ttf') format('truetype'), 
       url('fonts/teleicon-outline.svg#teleicon-outline') format('svg');
}

