@import "variables";
@import "mixins";

* {
  font-family: 'Tele', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  padding: 0;
  margin: 0;
}

.component-container {
  display: flex;
  justify-content: center;
}

.component {
  margin-top: $spacer*2;
  overflow: hidden;
}

.header {
  height: $header-height;
  background: $magenta;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    position: absolute;
    width: 65px;
    height: 30px;
    top: 20px;
    left: 20px;
    background: url(../images/sprite.png) 0 -500px no-repeat;
  }

  .text {
    color: #fff;
    font-weight: 800;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .slogan {
    position: absolute;
    right: 20px;
    top: 27px;
    display: none;
  }

  .caption {
    margin-top: 4px;
  }
}

@media only screen and (min-width: $grid-large-min) {
  .header {
    .slogan {
      display: block;
    }
  }

  .component {
    margin: $picture-margin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
