<div class="header">
  <a href="/" class="logo"></a>
  <a href="/" class="text slogan">Life is for sharing.</a>
  <a class="text caption" heft="/">Smart tracking</a>
</div>
<div class="component-container">
  <div class="component">
    <router-outlet></router-outlet>
  </div>
</div>
